
<div class="container text-center">

        <div>

                <h1>Carpool parkings Antwerpen</h1>
            
            </div>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng" [zoom] = "17">
       
  <agm-marker
  
  [latitude]="lat"
  [longitude]="lng"
  [iconUrl]="icon"
  >
</agm-marker>

  <agm-marker
  *ngFor="let carpool of markers"
  [latitude]="carpool.lat"
  [longitude]="carpool.lng"
  [label]="carpool.label">
  
  

</agm-marker>
</agm-map>
</div>
<div class="container">

<div class="card" *ngIf="Carpool">
    <div class="card-header">Carpoolparkings</div>
    <div class="card-block">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>type</th>
                    <th>naam</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carpool of Carpool.data" (click)="SetPosition(carpool.point_lat, carpool.point_lng)">
                    <td> {{carpool.id}}</td>
                    <td>{{carpool.type}}</td>
                    <td>{{carpool.naam}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
