<div class="card" >
    <div class="card-header">{{title}}</div>
    <div class="card-body"> 
      <table clas="table table-hover"  style="text-align:center">
        <thead>
          <tr class="blue-grey lighten-4">
            <th>ID</th>
            <th>adres</th>
            <th>afstand (in meters)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vertrek of dichtBij">
              <th>{{vertrek.id}}</th>
              <td>{{vertrek.info}}</td>
              <td>{{vertrek.distance}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>