<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">
    
<!-- Navbar brand -->
<logo><a class="navbar-brand" href="#">Web FrameWorks</a></logo>

<!-- Collapsible content -->
<links>

 <!-- Links -->
 <ul class="navbar-nav mr-auto">
     <li class="nav-item active" [routerLinkActive]="['active']">
         <a [routerLink]="['/home']" class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item" [routerLinkActive]="['active']">
         <a [routerLink]="['/velo']" class="nav-link waves-light" mdbRippleRadius>Bike</a>
     </li>
     <li class="nav-item" [routerLinkActive]="['active']">
         <a [routerLink]="['/calc']" class="nav-link waves-light" mdbRippleRadius>Car</a>
     </li>
     <li class="nav-item" [routerLinkActive]="['active']">
        <a [routerLink]="['/carpool']" class="nav-link waves-light" mdbRippleRadius>Carpool</a>
    </li>
     
     

 </ul>

</links>
<!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
