
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <agm-map 
          [latitude]="lat" 
          [longitude]="lng"
          [zoom] = "zoom"
          (mapClick)="mapClicked($event)">
          <agm-marker 
              [latitude]="markers2.lat"
              [longitude]="markers2.lng"
              [label]="markers2.label"
              [markerDraggable]="markers2.draggable"
              (markerClick)="clickedMarker(markers2.label)"
              (dragEnd)="markerDragEnd(markers2, $event)"
              [iconUrl]="icon">
          </agm-marker>

          <agm-marker 
              *ngFor="let station of markers"
              [latitude]="station.lat"
              [longitude]="station.lng"
              [label]="station.label"
              (markerClick)="clickedMarker(station.label)">
          
              <agm-info-window>
                  <strong>{{station.info}}</strong>
              </agm-info-window>
          </agm-marker>

      </agm-map>
    </div>
    <div class="col-sm-4">
        <app-weather></app-weather>
        <br>
        <app-veloData 
        [dichtBij] = "dichtBij" 
        [dichtBij2] = "dichtBij2"></app-veloData>
    </div>
  </div>
</div>
<!--

<div class="card" >
    <div class="card-header">Dichst bijzijnde veloStations</div>
    <div class="row">
    <div class="card-block col-sm-6">
      <table clas="table table-hover">
        <thread>
          <tr>
            <th>ID</th>
            <th>adres</th>
            <th> </th>
          </tr>
        </thread>
        <tbody *ngIf="dichtBij">
          <tr *ngFor="let vertrek of dichtBij">
              <td>{{vertrek.id}}</td>
              <td>{{vertrek.info}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-block col-sm-6">
      <table clas="table table-hover">
        <thread>
          <tr>
            <th>ID</th>
            <th>adres</th>
            <th> </th>
          </tr>
        </thread>
        <tbody *ngIf="dichtBij2">
          <tr *ngFor="let vertrek of dichtBij2">
              <td>{{vertrek.id}}</td>
              <td>{{vertrek.info}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  -->