<div class="card" >
    <div class="card-header">Dichst bijzijnde veloStations</div>
    <div class="row">
    <div class="card-block col-sm-6">
      <table clas="table table-hover">
        <thread>
          <tr>
            <th>ID</th>
            <th>adres</th>
            <th> </th>
          </tr>
        </thread>
        <tbody *ngIf="dichtBij">
          <tr *ngFor="let vertrek of dichtBij">
              <td>{{vertrek.id}}</td>
              <td>{{vertrek.info}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-block col-sm-6">
      <table clas="table table-hover">
        <thread>
          <tr>
            <th>ID</th>
            <th>adres</th>
            <th> </th>
          </tr>
        </thread>
        <tbody *ngIf="dichtBij2">
          <tr *ngFor="let vertrek of dichtBij2">
              <td>{{vertrek.id}}</td>
              <td>{{vertrek.info}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>