<agm-map [latitude]="lat" [longitude]="lng" [zoom] = "17">    
  

        <agm-polygon  *ngFor = "let polygon of polygonPunten" 

        [paths]="polygon.punten"
            
        [fillColor]="polygon.fillColor"
        >

        </agm-polygon>

</agm-map>


<div class="card" *ngIf="Tarieven">
    <div class="card-header">Tarieven</div>
    <div class="card-block">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Lijn</th>
                    <th>Bestemming</th>
                    <th>Vertrek</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tarief of Tarieven.data">
                    <td>{{tarief.id}}</td>
                    <td>{{tarief.geometry}}</td>
                    <td>{{tarief.gisid}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>