
<div class="card">
        <!--Card image-->
        <img class="img-fluid" [src]="'https://mdbootstrap.com/img/Photos/Slides/'+ imageUrl" alt="Card image cap">
        
        <select class="form-control" [(ngModel)]="imageNr">
            <option *ngFor = "let i of images" value="{{i}}">Image {{i}}</option>
        </select>
        
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Home Card Title</h4>
            <!--Text-->
            <p class="card-text">Hi, Welcome to the home screen of Jonas Koppen</p>
            <a  class="btn btn-primary waves-light" mdbRippleRadius [textContent] = "btnContent" (click)="btnClick()"></a>
        </div>
</div>