<br>
<div style="text-align:center">
  <h1>
    Welcome {{title}}!
  </h1>
</div>
<br>
<div class="container">
  <div class="row">
      <div class="col-sm-4">
        <app-welcome></app-welcome>
      </div>
      <div class="col-sm-4">
        <app-weather></app-weather>
      </div>
      <div class="col-sm-4">
          <div style="text-align:center">
            <img width="300" src="/assets/symbol.png">
          </div>
          <app-delijn></app-delijn>     
      </div>
  </div>
</div>

