<br>
<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
</div>
<br>
    <div class="container text-center">
      <div class="row ">
          <div class="col-sm">
            <div class="card">
              <!--Card image-->
              <img class="img-fluid" src="/assets/Jonas.jpg" alt="Card image cap">
              
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Jonas Koppen</h4>
                  <!--Text-->
                  <p class="card-text">Student aan de AP-hogeschool, richting: Electronica-ICT.</p>
                  <p class="card-text">Onderwerp: Velo stations in Antwerpen</p>
            </div>
          </div>
          </div>
       
          <div class="col-sm">
            <div class="card">
              
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Uitleg Jonas</h4>
                  <!--Text-->
                  <p class="card-text">Bike stations zal een kaart tonen met alle Velo stations in Antwerpen. De gebruiker kan op de kaart klikken waardoor de marker naar de locatie springt en de tabel met dichtsbijzijnde Velo stations zal bijgewerkt worden naar de dichtsbijzijnde stations bij de marker</p>
                  <p class="card-text">Bikes nearby toont een kaart waar de gebruiker 2 punten kan selecteren (1 met de linker muisknop, 1 met de rechter muisknop) waarbij dan in de tabel te 3 dichtsbijzijnde stations zullen getoont worden van beide punten</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <!--Card image-->
              <img class="img-fluid" src="/assets/Viktor.jpg" alt="Card image cap">
              
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Viktor Segers</h4>
                  <!--Text-->
                  <p class="card-text">Student aan de AP-hogeschool, richting: Electronica-ICT.</p>
                  <p class="card-text">Onderwerp: Carpool en parkeertariefzones in Antwerpen</p>
              </div>
            </div>
          </div>
          <div class="col-sm">
              <div class="card">
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Uitleg Viktor</h4>
                        <!--Text-->
                        <p class="card-text">Het carpoolcomponent zal alle verschillende carpoolplaatsen in Antwerpen weergeven. Aan de hand van de ID nummer die je op de map vindt, kan je zien wat voor soort carpoolparking dit is. Ook de officiële naam van die parking wordt meegegeven. De map centert zich op de locatie waar je je op het moment bevind.</p>
                        <p class="card-text">Bij het tariefcomponent kan je de kaart van Antwerpen zien, en de verschillende zones. De zones zijn in kleur aangeduid, in de tabel onderaan kan je vinden wat de tarieven zijn voor elke kleur. Ook deze map zal zich focussen op jouw locatie!
                          </p>
                    
              </div>
            </div>
          </div>
        </div>
      </div>

      

