<br>
<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
</div>
<br>
    <div class="container text-center">
      <div class="row ">
          <div class="col-sm-4">
            <div class="card">
              <!--Card image-->
              <img class="img-fluid" src="/assets/dreaddrone.jpg" alt="Card image cap">
              
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Jonas Koppen</h4>
                  <!--Text-->
                  <p class="card-text">Student aan de AP-hogeschool, richting: Electronica-ICT</p>
            </div>
          </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <!--Card image-->
              <img class="img-fluid" src="/assets/Viktor.jpg" alt="Card image cap">
              
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Viktor Segers</h4>
                  <!--Text-->
                  <p class="card-text">Student aan de AP-hogeschool, richting: Electronica-ICT</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">Expleantion</h4>
                  <!--Text-->
                  <p class="card-text">Veni Vedi Vici</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      

